h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgba(180, 187, 184, 0.363);
    padding: 2%;
    text-shadow: 2px 1px rgb(139, 143, 143);
    
}
body{
    border: rgba(0, 0, 0, 0.205) solid 4px;
    padding: 2em;
    background: linear-gradient(20deg,rgba(2, 57, 238, 0.185) 40% , rgba(0, 0, 255, 0.068) 40%);
}
h2{
    text-align: center;
    padding: 20px;
    color: rgb(82, 86, 90);
    text-shadow: grey 1px 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/* SInce bio and bio-continued are the same maybe use an (id="") instead
.bio{
    background-color: rgba(180, 187, 184, 0.363);
    padding: 1em;
    font-family: Arial;
}
.bio-continued{
    background-color: rgba(180, 187, 184, 0.363);
    padding: 1em;
    font-family: Arial;
}
*/
#bio{
    background-color: rgba(180, 187, 184, 0.363);
    padding: 1em;
    font-family: Arial;
}

h3{
    text-align: center;
    text-align: center;
    padding: 20px;
    color: rgb(82, 86, 90);
    text-shadow: grey 1px 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*  use the (id="")
.hobbies{
    background-color: rgba(180, 187, 184, 0.363);
    padding: 1em;
    font-family: Arial;
}
*/
h4{
    text-align: center;
    text-align: center;
    padding: 20px;
    color: rgb(82, 86, 90);
    text-shadow: grey 1px 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.locations{
    background-color: rgba(180, 187, 184, 0.363);
    font-family: Arial;
    text-align: center;
    padding: 1em;
}
ul{
    color: green;
    background-color: rgba(180, 187, 184, 0.363);
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

ol{
    color: brown;
    background-color: rgba(180, 187, 184, 0.363);
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
/* li will be the greater prioty, over ul and ol
li{
    color: brown;
}
*/

.big{
    font-size: 20px;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.bigger-bluer{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: rgb(27, 18, 161);
    text-shadow: 1px 1px black;
}
a:link{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a:visited{
    color: fuchsia;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a:hover{
    color: greenyellow;
    background-color: #91d370;
    background-image: linear-gradient(319deg, #91d370 0%, #bca0ff 37%, #f2cd54 100%);
}
a:active{
    font-size: x-small;
}
.font1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.font2{
    
    font-family: cursive;
}
.font3{
    font-family: fantasy;
    font-style: oblique;
}
.color1{
    color: burlywood;
}
.color2{
    color: aqua;
}
.color3{
    color: coral;
}
.color4{
    color: darkcyan;
}
.color5{
    color: darkolivegreen;
}